* {
    margin: 0;
    padding: 0;
    
}

:root {

    --corPrimaria: #000000;
    --corSecundaria: #f6f6f6;
    --corTerciaria: #4F4F9E;
    --corCurriculo: #E0E0E0;
    --corHovePrimaria: #272727;

    --fontePrimaria: "Krona One", sans-serif;
    --fonteSecundaria: "Montserrat", sans-serif;

}

.apresentacaoCurriculo {

    padding: 5% 15%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    font-size: 20px;
    font-family: var(--fontePrimaria);
    color: var(--corSecundaria);

}

.apresentacaoCurriculoConteudo {

    width: 615px; 
    text-align: left; 
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.apresentacaoCurriculoConteudoIntroducaoParagrafo {

    display: flex;
    padding: 2% 0% 1% 3%;
    font-size: 13px;
    flex-direction: row;
    font-family: var(--fonteSecundaria);
    color: var(--corCurriculo);

}

.apresentacaoCurriculoConteudoExperienciasParagrafo {

    display: flex;
    padding: 2% 0% 1% 3%;
    font-size: 13px;
    flex-direction: column;
    font-family: var(--fonteSecundaria);
    color: var(--corCurriculo);

}

.apresentacaoConteudoCurriculoEstudosParagrafo {

    display: flex;
    padding: 2% 0% 1% 3%;
    font-size: 13px;
    flex-direction: column;
    font-family: var(--fonteSecundaria);
    color: var(--corCurriculo);


}

