@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,601;1,601&display=swap');

:root {

    --corPrimaria: #000000;
    --corSecundaria: #f6f6f6;
    --corTerciaria: #4F4F9E;
    --corHovePrimaria: #272727;
    --fontePrimaria: "Krona One", sans-serif;
    --fonteSecundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--corPrimaria);
    color: var(--corSecundaria);


}

.apresentacaoTituloDestaque {

    color: var(--corSecundaria);

}

.cabecalho {

    padding: 2% 0% 0% 15%;


}

.cabecalhoMenu {

    display: flex;
    gap: 80px;


}

.cabecalhoMenuLink {

    font-family: var(--fonteSecundaria);
    font-size: 20px;
    font-weight: 600;
    color: var(--corTerciaria);
    text-decoration: none;
    

}

.cabecalhoMenuLink:hover {

    background-color: var(--corHovePrimaria);
    border-radius: 8px;

}


.apresentacao {
    
    padding: 5% 15% 10%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    /* height: 100vh;  */
    
}

.apresentacaoConteudo {
    
    width: 615px; 
    text-align: left; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacaoConteudoTitulo {
    
    font-size: 34px;
    font-family: var(--fontePrimaria);
}

.apresentacaoConteudoParagrafo {
    
    display: flex;
    font-size: 22px;
    flex-direction: row;
    font-family: var(--fonteSecundaria);
    
   
    
}

.foto {
    width: 515px; 
    height: auto;
    border: 4px solid var(--corTerciaria);
    border-radius: 8px;
    margin-left: 30px;
}

.apresentacaoLink {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;


}

.apresentacaoLinkTitulo {

    font-family: var(--fontePrimaria);
    font-weight: 400;
    font-size: 23px;


}

.apresentacaoLinkButton {
    
    display: flex;
    justify-content: center;
    border: 2px solid var(--corTerciaria);
    width: 360px;
    padding: 15px 30px;
    border-radius: 8px;
    font-family: var(--fonteSecundaria);
    text-decoration: none;
    color: var(--corSecundaria);
    font-weight: 600;
    font-size: 22px;
}
.apresentacaoLinkButton:hover{

    background-color: var(--corHovePrimaria);

}


.rodape {

    
    padding: 26px;
    color: var(--corPrimaria);
    background-color: var(--corTerciaria);
    text-align: center;
    font-family: var(--fonteSecundaria);
    font-size: 24px;
    width: 400;
    



}