* {
    margin: 0;
    padding: 0;
    
}

:root {

    --corPrimaria: #000000;
    --corSecundaria: #f6f6f6;
    --corTerciaria: #4F4F9E;
    --corCurriculo: #E0E0E0;
    --corHovePrimaria: #272727;

    --fontePrimaria: "Krona One", sans-serif;
    --fonteSecundaria: "Montserrat", sans-serif;

}

.apresentacaoCurriculo {

    padding: 5% 15%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    font-size: 1.5rem;
    font-family: var(--fontePrimaria);
    color: var(--corSecundaria);
    gap: 80px;

}

.apresentacaoCurriculoConteudo {

    width: 50%; 
    text-align: left; 
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}
.apresentacaoCurriculoConteudoParagrafo {

    display: flex;
    padding: 2% 0% 1% 3%;
    font-size: 1rem;
    margin-top: 0.75rem;
    flex-direction: column;
    font-family: var(--fonteSecundaria);
    color: var(--corCurriculo);


}


@media (max-width: 720px) {

    .apresentacaoCurriculo {

        flex-direction: column-reverse;
        padding: 5%;

    }
    .apresentacaoCurriculoConteudoTitulo {

        font-size: 1.25rem;

    }

    .apresentacaoCurriculoConteudoIntroducaoParagrafo {

        font-size: 1rem;

    }



    .apresentacaoCurriculoConteudo {

        width: 100%;

    }



}
