@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,601;1,601&display=swap');

:root {

    --corPrimaria: #000000;
    --corSecundaria: #f6f6f6;
    --corTerciaria: #4F4F9E;
    --corHovePrimaria: #272727;
    
    --fontePrimaria: "Krona One", sans-serif;
    --fonteSecundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    
    box-sizing: border-box;
    background-color: var(--corPrimaria);
    color: var(--corSecundaria);


}

.apresentacaoTituloDestaque {

    color: var(--corSecundaria);

}

.cabecalho {

    padding: 2% 0% 0% 15%;


}

.cabecalhoMenu {

    display: flex;
    gap: 80px;


}

.cabecalhoMenuLink {

    font-family: var(--fonteSecundaria);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--corTerciaria);
    text-decoration: none;
    

}

.cabecalhoMenuLink:hover {

    background-color: var(--corHovePrimaria);
    border-radius: 0.5rem;

}


.apresentacao {
    
    padding: 5% 15% 10%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 80px;
    
}

.apresentacaoConteudo {
    
    width: 50%; 
    text-align: left; 
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.apresentacaoConteudoTitulo {
    
    font-size: 2.125rem;
    font-family: var(--fontePrimaria);
}

.apresentacaoTituloDestaque {

    color: var(--corTerciaria);

}

.apresentacaoConteudoParagrafo {
    
    display: flex;
    font-size: 1.25rem;
    flex-direction: row;
    font-family: var(--fonteSecundaria);
    
   
    
}

.foto {
    width: 50%; 
    height: auto;
    border: 0.25rem solid var(--corTerciaria);
    border-radius: 0.5rem;
    margin-left: 1.88rem;
}

.apresentacaoLink {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;


}

.apresentacaoLinkTitulo {

    font-family: var(--fontePrimaria);
    font-weight: 25rem;
    font-size: 1.44rem;


}

.apresentacaoLinkButton {
    
    display: flex;
    justify-content: center;
    border: 0.125rem solid var(--corTerciaria);
    width: 30%;
    padding: 1rem 1.87rem;
    border-radius: 0.5rem;
    font-family: var(--fonteSecundaria);
    text-decoration: none;
    color: var(--corSecundaria);
    font-weight: 600;
    font-size: 1.25rem;
}
.apresentacaoLinkButton:hover{

    background-color: var(--corHovePrimaria);

}


.rodape {

    
    padding: 1.62rem;
    color: var(--corPrimaria);
    background-color: var(--corTerciaria);
    text-align: center;
    font-family: var(--fonteSecundaria);
    font-size: 1.5rem;
    width: 400;
    



}

@media (max-width: 1200px) {

    .cabecalho {

        padding: 5%;

        


    }

    .cabecalhoMenu {

        justify-content: center;

    }

    .apresentacao {

        flex-direction: column-reverse;
        padding: 5%;

    }
    .apresentacaoConteudo {

        width: auto;

    }



   


}